<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <title>{{ category.name }} - Mój superblog</title>
</head>
<body>
    <h1>Mój superblog</h1>
    <div>
        {% for cat in categories %}
        [{{cat.name}}]
        {% endfor %}
    </div>
    <p>Wpisy w kategorii <b>{{ category.name }}</b>:</p>
    <div>
        {% for article in articles %}
        <h3>{{article.title}}</h3>
        <p>
        {{article.description}}
        </p>
        {% endfor %}
    </div>
    <p>Bieżąca data: {{ d }}</p>
</body>
</html>